.locations {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  cursor: pointer;
}
.list-location {
  overflow-y: scroll;
  max-height: 450px;
}

.location-details {
  min-height: 650px;
  min-width: 1000px;
  max-height: 650px;
  max-width: 1000px;
}

.address {
  font-style: oblique;
}

.description{
  margin-bottom: 20px;
}

.footer-static{
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
  height: 60px;
}

.footer-non-static{
  color: black;
  position: absolute;
  width: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
  height: 100px;
  padding-top: 30px;
}


.notrz {
  resize:none;
}

.hotels-index {
  min-height: calc(100vh - 150px);
}
